* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  text-align: center;
}

#container {

  width: 970px;
  height: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#screen1 {
  width: 480px;
  height: 540px;
  float: left;
  overflow: hidden;
}

#screen2 {
  width: 480px;
  height: 540px;
  float:right;
}
